* { margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}

header {
    height: 100px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default_button {
    font-size: 16px;
    padding: 8px 14px;
    background-color: #6574FF;
    border: 0;
    color: #fff;
    border-radius: 4px;
}

.clear_button {
    font-size: 16px;
    padding: 8px 14px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

#mycard_contents {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 32px;
    margin: 48px auto;
}

#mycard_box {
    padding: 0 120px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mycard {
    min-width: 260px;
    min-height: 340px;
    background-color: #6574FF;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
    position: relative;
}

.mycard_bottom {
    position: absolute;
    bottom: 24px;
}