* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
    font-weight: 400;
}

header {
    height: 100px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default_button {
    font-size: 16px;
    padding: 8px 14px;
    background-color: #6574FF;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.clear_button {
    font-size: 16px;
    padding: 8px 14px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #000;
}

header h1 {
    position: absolute;
    left: 50px;
    top: 0;
}

.spot {
    position: absolute;
    right: 50px;
    top: 0;
}

.spot li {
    float: left;
    padding: 10px 3px;
}

.body {
    background-color: #FFFFFF;
    min-height: 100vh;
    padding-top: 3.25rem;
}

.section {
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
    text-align: left;
    float: left;
    padding-top: 5.25rem;
    display: flex;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.container {
    width: 50rem;
    height: 50rem;
    top: 5rem;
    overflow: hidden;
    position: relative;
}

.button.is-blue {
    background-color: #6574FF;
    color: #FFFFFF;
    border-color: transparent;
}

.button.is-outlined {
    background-color: transparent;
    border-color: #6574FF;
    color: #6574FF !important;
}


/*흰색 배경 버튼*/
.button.is-light {
    border-color: transparent;
    color: #000000;
}

.title {
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Do Hyeon', sans-serif;
}

.subtitle {
    font-size: 2rem;
}

.is-sparta {
    color: #e8344e !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}
