<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/mycard.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;700&display=swap" rel="stylesheet">

        <title>무비 포토카드</title>
    </head>
    <body>
        <header>
            <a href="#"><img src="/static/logo.svg" alt=""/></a>
            <div class="header_button">
                <a href="/sign-up"><button onclick="" class="clear_button">회원가입</button></a>
                <a href="#"><button onclick="" class="default_button">로그인하기</button></a>
            </div>
        </header>
         <div id="main">
            <div id="mycard_contents">
                <div id="title">내 카드 보관함</div>
                <div id="mycard_box">
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                    <div class="mycard" style="background-image:url('https://file.mk.co.kr/meet/yonhap/2021/12/08/image_readtop_2021_1123769_0_152311.jpg')">
                        <div class="mycard_opacity"></div>
                        <div class="mycard_top">
                            <div class="mycard_title">dd</div>
                            <div class="mycard_date">dd</div>
                        </div>
                        <div class="mycard_bottom">
                            <div class="mycard_star">★★★★</div>
                            <div class="mycard_comment">dd</div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </body>
</html>